<nav class="navigation left">
  <ul class="links">
    <li class="links item">

      <a href="/about" class="link-item" title="A little about me" id="about-button">About</a>
      <a href="/resume" class="link-item" title="My professional resume" id="resume-button">Resume</a>
      <a href="/projects" class="link-item" title="Some fun projects I've worked on" id="projects-button">Projects</a>
      <a href="/#open" class="link-item" title="link to {{@blog.title}} blog" id="blog-button">Blog</a>
      <a href="mailto:eric0988@stthomas.edu?subject=Hello, I saw your website!" class="link-item" title="shoot me an email!" id="contact-button">Contact</a>
    </li>
  </ul>
</nav>
