{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <h1 id="post-title">Resume</h1>
    </header>



    <section class="{{post_class}}" style="height:100%;">
      {{content}}
        <iframe src="/assets/other/BradenEricsonResume!.pdf#view=fit" width="100%" height="700" >
        </iframe>


    </section>

  </article>
  <!--<object data="/assets/other/BradenEricsonResume.pdf" type="application/pdf" width="100%" height="100%">

      <p>It appears you don't have a PDF plugin for this browser.
          No biggie... you can <a href="/assets/other/BradenEricsonResume.pdf">click here to
              download the PDF file.</a></p>

  </object>-->

{{/post}}
