{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
        {{image}}
      <h1 id="post-title">Personal Projects</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

{{/post}}
